$mainBg: #fff;
$color_green:#101805;
$footerBg: #e9e9e9;
$forma_color: #273219;
$baseFontFamily: 'avenirnextcyr', sans-serif;
$FontFamilyLight: 'AvenirNextCyr-Light', sans-serif;
$FontDemi: 'AvenirNextCyr-Demi', sans-serif;
$FontSemiBoldItalic: 'PFAdamantPro-SemiBoldItalic', sans-serif;
$baseFontSize: 14px;
$baseColor: #333;
$baseLineHeight: 24px;
$baseUppercase: uppercase;
$color_brown_light:#846a3a;
